* {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none
}

/************************************************头部*********************************************************************/
.headers {
    width: 100%;
    background: black;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 1180px;
    height: 40px;

    margin: 0 auto;
    line-height: 40px;
    background: #262626;
    color: #bfbfbf;
    font-size: 12px;
}


.list01 li a{
    height: 12px;
    padding: 0px 8px;
    border-right: 1px solid #bfbfbf;
    line-height: 40px;
    color: #bfbfbf
}



.list02 li a{
    color: #bfbfbf;
    height: 12px;
    padding: 0px 8px;
    border-right: 1px solid #bfbfbf;
    line-height: 40px;
}

.header a:hover {
    color: white
}


/**********************************************导航**********************************************************************/
.navs {
    width: 100%;
}

.nav {
    width: 1180px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    /* justify-content: space-between; */
}

.nav li a {
    color: black;
    font-size: 16px;
    line-height: 80px;
    padding: 0 16px;
}

.panel {

    position: absolute;
    top: 120px;
    width: 1180px;
    height: 270px;
    display: none;
    z-index: 90;
    background: white;
    opacity: 0.8;
}

.panel a img {
    width: 200px;
    height: 200px;
}

.nav a:hover {
    color: red
}

.products .product img {
    width: 240px;
    height: 240px;
}
.products .product .name {
   
    font-size: 16px;
    color: #262626;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.products .product .desc {
   
    font-size: 14px;
    color: #8c8c8c;
    margin-bottom: 14px;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.products .product .price{
    color: red;
}
.products .product :hover{color:red; }


/* logo ************************************************************************************************************** */



/* 底部 *********************************************************************/
.footer {
    height: 430px;
    background: #fff;
    text-align: center;
    position: relative;
}

.wp {
    width: 1180px;
    margin: auto;
}

.footer .service {
    height: 280px;
    border-bottom: 1px solid #e8e8e8;
}



.footer .intro {
    float: left;
    width: 580px;
    padding-top: 40px;
    color: #262626;
}

.footer .intro .flag {
    font-size: 18px;
    margin-bottom: 45px;
}

.footer .intro .list-cl span {
    font-size: 16px;
    display: block
}

.footer .intro .list-cl img {
    display: inline-block;
    margin-bottom: 20px;
}

.footer .follow {
    float: left;
    width: 276px;
    height: 200px;
    padding: 0 42px;
    margin-top: 43px;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    font-size: 18px;
    color: #262626;
}

.footer .follow .desc {
    margin-bottom: 24px;
}

.footer .follow .desc span {
    color: #e83b3b;
}

.footer .qrcode-cl {
    display: flex;
    justify-content: space-around
}

.footer .qrcode-cl li img {
    display: inline-block;
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
}

.footer .qrcode-cl li .name {
    font-size: 18px;
    display: block
}






.footer .contact {
    float: right;
    width: 235px;
    padding-top: 40px;
}

.footer .service-after {
    display: inline-block;
    width: 175px;
    height: 70px;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
}

.footer .service-after img {
    display: block;
    margin: 0 auto 15px;
}

.footer .service-after li:first-child {
    width: 87px;
    margin-right: 16px;
}

.footer .service-after li {
    display: inline-block;
    width: 72px;
}



.footer .contact .btm {
    padding-top: 23px;
    border-top: 1px solid #e8e8e8;
    width: 180px;
    margin: 20px auto 0;
}

.footer .contact .btm span {
    display: block;
}

.footer .contact .name {
    font-size: 16px;
    color: #262626;
}

.footer .contact .tel {
    margin: 20px 0 15px;
    color: #e14d4d;
    font-size: 24px;
    font-family: arial;
}

.footer .contact .time {
    color: #8c8c8c;
    font-size: 14px;
}





.footer .links {
    padding-top: 53px;
    line-height: 30px;
    color: #8c8c8c;
    font-size: 12px;
}

.footer .links a {
    margin: 0 10px;
    color: #8c8c8c
}

.footer .copyright {
    font-size: 12px;
    color: #8c8c8c;
    line-height: 30px;
}

.footer .copyright a {
    color: #8c8c8c
}

.toolbar-show {
    display: block;
}

.toolbar {
    width: 80px;
    height: 355px;
    position: fixed;
    right: 0;
    bottom: 60px;

    z-index: 99;
    background: red;
}

.toolbar .tools {
    height: 255px;
    background: #fff;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 1px solid #eee;
    border-right: none;
}

.toolbar .toolbar-btn {
    display: block;
    width: 60px;
    height: 70px;
    padding-top: 14px;
    background: #fff;
    text-align: center;
    margin: auto;
    border-top: 1px solid #e8e8e8;
    cursor: pointer;
    position: relative;
}

.toolbar .toolbar-btn img {
    display: block;
    margin: 0 auto 10px;
}

.toolbar .gotop {
    position: absolute;
    width: 80px;
    left: 0;
    bottom: 0;
    background: #fff;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 1px solid #eee;
    border-right: none;
}

.toolbar .toolbar-btn:first-child {
    border-top: none;
}

.toolbar .toolbar-btn .name {
    display: block;
    font-size: 14px;
    color: #595959
}
.toolbar .toolbar-btn :hover{color:red;}
.toolbar .toolbar-btn .name-red {
    color: #ea413c;
}
/* 底部 *********************************************************************/