.list {
   
    height: 1020px;
    width: 1180px;
    margin: 0 auto;
    display: flex; 
    flex-wrap: wrap; 
    margin: 0 auto;
   justify-content: space-around;
}
a{color: #675e5e}
a:hover{color:red}
/* .pro-list {
    width: 1180px;
    margin: 0 auto;
    padding: 17px 0;
} 

.pro-list a {
    color: #262626;
    font-size: 14px;
}

.pro-list span {
    line-height: 15px;
    font-size: 14px;
    color: #8c8c8c;
}

.pro-img {
    width: 500px;
    height: 590px;
   
}

.pro-imgs {
    width: 498px;
    height: 498px;
    border: 1px solid #e8e8e8
}
.pro-imgs .pro-imglists{
    width: 498px;
    height:498px;
    display: block;
}
.pro-imglist{
    margin-top:10px;
    width: 500px;
    height: 80px; 
    background: red
} */